{% extends 'base.html' %}

{% block meta %}
<title>Bookmarked Products</title>
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="overflow-x-hidden min-h-screen flex flex-col" style="background: linear-gradient(to bottom, white, #87CEEB); padding-top: 88px;">
    <div class="flex justify-start py-2 p-7"> 
        {% if bookmarks %}
            <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                {% for bookmark in bookmarks %}
                    <li class="bg-white shadow-md rounded-lg p-4 border border-gray-300">
                        <img src="{{ bookmark.product.picture_link }}" alt="{{ bookmark.product.item }}" class="h-32 w-full object-cover rounded-md mb-4">
                        <h3 class="font-bold text-lg mb-2">{{ bookmark.product.item  }}</h3>
                        <p class="text-gray-700">Price: ${{ bookmark.product.price }}</p>
                        <a href="{% url 'bookmark:remove_bookmark' bookmark.id %}" class="text-red-500 hover:text-red-700">Remove Bookmark</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-center text-gray-600 mt-4">You have no bookmarks yet.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
