{% extends 'base.html' %}

{% block meta %}
<title>{{ forum.title }} | MAKAN BANG</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="flex justify-center min-h-screen">
    
    <!-- forum -->
    <div class="max-w-4xl w-full p-6 mx-auto">
        <br><br><br>

        <div class="flex items-center mb-4">
            <a href="{% url 'forum:public_forum' %}" class="text-gray-500 font-semibold mr-4 hover:text-gray-800">
                &larr;
            </a>
            <h1 class="text-2xl font-bold">{{ forum.title }}</h1>
        </div>

        <div class="bg-white shadow-lg rounded-lg p-6 mb-6">
            <div class="mb-4">
                <span class="
                    inline-block text-sm font-medium uppercase tracking-wide px-3 py-1 mb-4
                    {% if forum.topic == 'Information' %}
                        bg-[#3845AD] text-white
                    {% elif forum.topic == 'Recommendation' %}
                        bg-[#FFCD64] text-gray-600
                    {% elif forum.topic == 'Restaurants' %}
                        bg-[#F9CDCC] text-gray-600
                    {% elif forum.topic == 'Foods' %}
                        bg-[#7FBFA2] text-white
                    {% elif forum.topic == 'Experience' %}
                        bg-[#F65035] text-white
                    {% else %}
                        bg-gray-200 text-gray-600
                    {% endif %}
                    ">
                    {{ forum.topic }}
                </span>

            </div>
            <div class="mb-4">
                <p class="text-gray-700">by <span class="font-bold">{{ forum.user.username }}</span></p>
            </div>
            <div class="mb-4">
                <p class="text-gray-600">{{ forum.question }}</p>
            </div>

            {% if forum.user == request.user %}
            <div class="flex justify-end p-4 space-x-6 rounded-lg">
                <a href="{% url 'forum:edit_forum' forum.pk %}" class="text-sm text-[#474645] hover:text-[#A29086]">
                    Edit
                </a>
                <a href="{% url 'forum:delete_forum' forum.pk %}" class="text-sm text-[#666463] hover:text-red-700">
                    Delete
                </a>
            </div>
            {% endif %}
        </div>

        <!-- display replies -->
        <div class="mt-6">
            <h2 class="text-xl font-bold mb-4">Replies</h2>

            {% if not comments %}
                <p>No reply available, be the first to reply!</p><br>
            {% else %}
                <div class="space-y-4">
                    {% for comment in comments %}
                        <div class="bg-white shadow-md rounded-lg p-4">
                            <p class="text-gray-800">{{ comment.reply }}</p>
                            <p class="font-medium text-gray-700">by <span class="font-bold">{{ comment.user.username }}</span></p>

                            {% if comment.user == request.user %}
                                <div class="flex justify-end">
                                    <form action="{% url 'forum:delete_comment' comment.id %}" method="POST" class="self-end">
                                        {% csrf_token %}
                                        <button type="submit" class="text-[#F65035] hover:text-[#9e3221]">Delete</button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- add reply -->
        <div class="mt-6">
            <h2 class="text-xl font-bold mb-4">Share your thoughts!</h2>
            <form method="POST">
                {% csrf_token %}
                <textarea name="reply" class="w-full border border-gray-300 rounded-lg p-4" rows="4" placeholder="Write here..."></textarea>
                
                <div class="flex justify-end">
                    <button type="submit" class="bg-black hover:bg-[#212a73] text-white font-bold py-2 px-6 rounded-md mt-4">
                        Post
                    </button><br>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock content %}
