<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Rencana Makan</title>
</head>
<body>
    <h1>Edit Rencana Makan</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Simpan Perubahan</button>
    </form>

    <form action="{% url 'choices_page' %}" method="get">  <!-- Ganti dengan URL yang sesuai -->
        <button type="submit">Edit Pilihan Makanan</button>
    </form>
</body>
</html>
