{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}

<!-- hero -->
<div class="relative bg-cover bg-center h-screen flex items-center justify-center" style="background-image: url('{% static 'image/heropic.png' %}');">
    <div class="text-center" style="margin-top: 300px;"> <!-- Increased margin-top to push it further down -->
        <a href="#features" class="inline-block mt-8 text-white text-xl font-inter font-medium underline">
            <span class="shadow-md">Explore More</span>
            <img src="{% static 'image/arrowdown.png' %}" alt="Down Arrow" class="shadow-l mx-auto mt-4 h-8 w-auto">
        </a>
    </div>
</div>

<!-- features -->
<div id="features" class="relative w-full text-center mt-20">
    <h2 class="font-inter text-[60px] lg:text-[100px] font-bold leading-tight">
        <span class="font-medium">F</span><span class="font-extrabold italic">eat</span><span class="font-semibold">ures</span>
    </h2>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-10 px-4 md:px-20">
    <div class="relative bg-[#FCFAF7] p-6 rounded-lg shadow-md hover:shadow-xl">
        <h3 class="text-xl font-bold text-[#3845AD]">Food Catalogue</h3>
        <p class="mt-4">Save your favorite recipes and meal plans for future use!</p><br><br>
        <a href="#" class="absolute bottom-6 right-6">
            <img src="{% static 'image/morebutton.png' %}" alt="More" class="h-8 w-auto">
        </a>
    </div>
    <div class="relative bg-[#FCFAF7] p-6 rounded-lg shadow-md hover:shadow-xl">
        <h3 class="text-xl font-bold text-[#F65035]">Rate and Review</h3>
        <p class="mt-4">Don't ever worry about how your food's gonna taste. Check people's rate and review!</p><br><br>
        <a href="#" class="absolute bottom-6 right-6">
            <img src="{% static 'image/morebutton.png' %}" alt="More" class="h-8 w-auto">
        </a>
    </div>
    <div class="relative bg-[#FCFAF7] p-6 rounded-lg shadow-md hover:shadow-xl">
        <h3 class="text-xl font-bold text-[#7FBFA2]">Preference</h3>
        <p class="mt-4">Check foods that match your taste by setting preferences!</p><br><br>
        <a href="#" class="absolute bottom-6 right-6">
            <img src="{% static 'image/morebutton.png' %}" alt="More" class="h-8 w-auto">
        </a>
    </div>
    <div class="relative bg-[#FCFAF7] p-6 rounded-lg shadow-md hover:shadow-xl">
        <h3 class="text-xl font-bold text-[#bf5c5a]">Forum Discussion</h3>
        <p class="mt-4">Discuss your favorite meals and recipes with others!</p><br><br>
        <a href="/forum" class="absolute bottom-6 right-6">
            <img src="{% static 'image/morebutton.png' %}" alt="More" class="h-8 w-auto">
        </a>
    </div>
    <div class="relative bg-[#FCFAF7] p-6 rounded-lg shadow-md hover:shadow-xl">
        <h3 class="text-xl font-bold text-[#bd9440]">Meal Planning</h3>
        <p class="mt-4">Plan your weekly meals with ease and variety!</p><br><br>
        <a href="#" class="absolute bottom-6 right-6">
            <img src="{% static 'image/morebutton.png' %}" alt="More" class="h-8 w-auto">
        </a>
    </div>
    <div class="relative bg-[#FCFAF7] p-6 rounded-lg shadow-md hover:shadow-xl">
        <h3 class="text-xl font-bold text-[#3845AD]">Bookmark</h3>
        <p class="mt-4">Save your favorite recipes and meal plans for future use!</p><br><br>
        <a href="#" class="absolute bottom-6 right-6">
            <img src="{% static 'image/morebutton.png' %}" alt="More" class="h-8 w-auto">
        </a>
    </div>
</div>


<!-- collaboration -->
<div class="relative w-full text-center mt-20">
    <h2 class="font-inter text-[40px] lg:text-[70px] font-bold leading-tight">
        <span class="font-medium">In </span><span class="font-bold italic">collaboration</span><span class="font-medium"> with</span>
    </h2><br>

    <!-- Add the three icons below the heading -->
    <div class="flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-4 md:space-x-8 mt-10">
        <img src="{% static 'image/enjoyjkt.png' %}" alt="Enjoy Jakarta" class="h-32 w-auto">
        <img src="{% static 'image/gofood.png' %}" alt="GoFood" class="h-32 w-auto">
        <img src="{% static 'image/traveloka.png' %}" alt="Traveloka" class="h-32 w-auto">
    </div>
</div>

<div class="relative w-full text-center mt-20">
    <h5 class="font-inter text-[25px] lg:text-[40px] font-bold leading-tight">
        <span class="font-medium">A project by group </span><span class="font-extrabold">PBP B07</span>
    </h5>
    <h5 class="font-inter text-[20px] lg:text-[35px] font-bold leading-tight"></h5>
        <span class="font-medium">Special thanks to </span><span class="font-extrabold">Pak Baginda, Kak Ravie, & all PBP lecturers and TA's</span>
    </h5>
</div><br><br><br>

<script>
    document.querySelector('a[href="#features"]').addEventListener('click', function(e) {
        e.preventDefault();
        document.querySelector('#features').scrollIntoView({ behavior: 'smooth' });
    });
</script>

{% endblock content %}